*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    width: 100%;
}

/* header */
header{
    width: 100%;
    text-align: center;
}
ul{
    width: 100%;
    display: flex;
    height: 20vh;
    max-height: 100px;
    background-color: red;
}
nav ul li{
    width: 33.33%;
    height: 100%;
}
nav ul li a{
    color:white;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
li a:hover{
    background-color: white;
    color: red;
}